PORT=3000
GITHUB_TOKEN=
GITHUB_API_BASE=https://api.github.com
GITHUB_API_VERSION=2026-03-10
GITHUB_API_TIMEOUT_MS=5000
CACHE_TTL_MS=300000
CACHE_MAX_ENTRIES=100
CB_FAILURE_THRESHOLD=5
CB_HALF_OPEN_TIMEOUT_MS=30000
